body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card {
    background: #ffffff;
    width: 85%;
    max-width: 900px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #007acc;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content h1 {
    font-size: 22px;
    margin-top: 15px;
    color: #003366;
    text-transform: uppercase;
    font-weight: bold;
}


.box {
    background: #eaf3ff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    line-height: 1.6;
    border: 1px solid #bcd7ff;
}

.box p {
    margin: 8px 0;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background: #003366;
    color: white;
    padding: 10px;
    font-size: 16px;
}

table td {
    padding: 10px;
    background: #f9f9f9;
    font-size: 15px;
}

table tr:nth-child(even) td {
    background: #e9efff;
}

table a {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
}

table a:hover {
    color: #003366;
    text-decoration: underline;
}

h3 {
    margin-top: 30px;
    color: #003366;
    font-size: 20px;
    text-transform: uppercase;
}
